Parameters:
  SubnetId:
    Description: The subnet ID where to create the instance.
    Type: AWS::EC2::Subnet::Id

  KeyName:
    Description: "Name of an existing EC2 KeyPair to enable SSH access to the instance"
    Type: "AWS::EC2::KeyPair::KeyName"

Resources:
  {{ instance.name }}:
    Type: AWS::EC2::Instance
    Properties:
      ImageId: "{{ instance.image_id }}"
      {% if instance.keypair %}
      KeyName: { Ref: KeyName }
      {% endif -%}
      InstanceType: "{{ instance.instance_type }}"
      {% if instance.security_groups %}
      {% for sec in instance.security_groups %}
      SecurityGroupIds:
        - "{{ sec }}"
        - { Ref: CommonSecurityGroup }
      {% endfor %}
      {% endif -%}
      SubnetId: { Ref: SubnetId }
      KeyName: { Ref: KeyName }


